* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 20px;
    --footer-height: 20px;
    --content-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --Gamboge: rgb(229, 167, 16, 0.6);
    --DawnPink: rgb(247, 240, 239);
    --Cowboy: rgb(81, 44, 42, 0.8);
    --MuleFawn: rgb(158, 76, 52);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(./images/gbpBgCoco.png); 
}

header {
    min-height: var(--header-height);
    display: flex;
    background-color: white;
    align-items: center;
    color: white;
    padding: 16px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
nav {
    display: flex;
    gap: 64px;
}

#contentHome {
    flex: 1;
    max-height: var(--content-height) ;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 200px;
    gap: 30px;
}
#hr {
    width: 90%;
}
#right h1 {
    font-size:5em;
}
#right p {
    font-size: 1.3em;
}

#reserveBtn {
    margin-top: 160px;
    width: 20%;
}

/* start images */
#cocoslogo {
    height: 70px;
    margin-right: auto;
}
.cocoimg {
    height: 800px;
}
/* images end */

footer {
    display: flex;
    background-color: var(--Cowboy);
    min-height: var(--footer-height);
    justify-content: center;
    height: fit-content;
    flex-grow: 0;
    color: white;
}
